.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  border: 2px solid white;
  border-radius: 15px;
  height: 200px;
  width: 100%;
  margin: 20 auto;
}
.nav {
  border: 2px solid white;
  border-radius: 15px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  background-color: #737986;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav input {
  border-radius: 15px 0px 0px 15px;
  height: 30px;
  width: 50%;
  border: 0 none;
}

.nav button {
  border-radius: 0px 15px 15px 0px;
  height: 32px;
  width: 20%;
  border: 0 none;
  background-color: #596478;
  color: #ffffff;
  font-weight: bold;
}

.nav button:hover {
  border-radius: 0px 15px 15px 0px;
  height: 32px;
  width: 20%;
  border: 2px solid white;
  background-color: #596478;
  color: #ffffff;
  font-weight: bold;
}

.rainbow{
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  
}

.rainbow-1:hover{
   background-image: linear-gradient(90deg, #727290 0%, #4f74d2 49%, #333c70 80%, #86b2f9 100%);
   animation: slide 5s linear infinite;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
